.profilePicture {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 17vh;
}

.profileCard {
    width: 65vh;
    height: 85vh;
    margin-left: 50vh;
    border-radius: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
    align-content: left;
    position: relative;
}

.profileContainer {
    text-align: left;
    align-content: left;
    margin-top: 8vh;
}

.description {
    margin-left: 5vh;
}

.title {
    color: #2F7219;
    margin-left: 5vh;
    margin-bottom: 5vh;
}
