.SignInIconsUser {
    color: #50BB27;
    position: absolute;
    margin-left: 3vh;
    margin-top: 2.5vh;
}

.SignInIconsLock {
    color: #50BB27;
    position: absolute;
    margin-left: -22vh;
    margin-top: 2.5vh;
}

.SignInIconsEye {
    color: #50BB27;
    position: absolute;
    margin-left: 19vh;
    margin-top: 2.5vh;
    cursor: pointer;
}

.SignInTitle {
    font-size: 10vh;
    font-weight: 700;
    padding-top: 7vh;
    margin-bottom: 5vh;
    margin-left: -10vh;
}

.SignInText {
    font-size: 5.5vh;
    font-weight: 400;
    margin-left: -10vh;
}

.error {
    color: red;
    margin-top: 0.5vh;
    margin-bottom: 2.5vh;
    font-size: 2.5vh;
    text-align: center;
}

.FormCard {
    border-radius: 5vh;
    border-width: 1vh;
    border-color: linear-gradient(#32920D, #49B51F);
    background-image: linear-gradient(#F4F4F4, #E0FED3);
    padding-top: 10.5vh;
    padding-bottom: 10.5vh;
    width: 65vh;
    text-align: center;
    align-content: right;
    position: relative;
    margin-top: 15vh;
    margin-left: -5vh;
}

.SignInFormSubmit {
    background-image: linear-gradient(to right, #1CCA38, #309D06);
    border-radius: 1vh;
    width: 50vh;
    height: 8vh;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
}

.SignInFormInput {
    width: 50vh;
    height: 8vh;
    border-radius: 1vh;
    border: 0.1vh solid #ccc;
    box-sizing: border-box;
    padding-left: 8vh;
    padding-right: 2rem;
    margin-bottom: 2.5vh;
    background-color: white;
    font-size: 3vh;
    color: #333;
}

.SignInFormInput:focus {
    outline: none;
    border-color: #50BB27;
}

.logoLight {
    text-align: left;
    align-items: left;
    height: 20vh;
    margin-left: -16vh;
    margin-top: 13vh;
}

.logoLightSignInForm {
    height: 10vh;
    margin-bottom: 3vh;
}

.FormContainer {
    text-align: right;
    align-content: right;
}

.SignInFormForgotPassword {
    text-align: right;
    color: #50BB27;
    padding-left: 30vh;
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    cursor: pointer;
}
