body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
  } 
  
  .sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
  }
  
  .nav-link {
    color: #333;
  }
  
  .nav-link:hover, .nav-link:focus {
    background-color: #e9ecef;
  }
  
  .active {
    background-color: #e9ecef;
    font-weight: bold;
  }

  .mainContainer {
    height: 100vh;
    padding: 0;
    background-color: #f8f9fa;
  }

  .nav-link.active {
    background-color: #F0FCE9; /* Change this to your desired background color */
    color: black;
    font-weight: normal;
  }
